*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
button, a {
  cursor: pointer;
}